<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://kit.fontawesome.com/30433a07cd.js" crossorigin="anonymous"></script>
    <title>Poly</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
        <a class="navbar-brand backgr-default" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Genres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('items.show', id='All')}}">All Genres</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Blues')}}">Blues</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Country')}}">Country</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='EDM')}}">EDM</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Hip Hop')}}">Hip Hop</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Jazz')}}">Jazz</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Pop')}}">Pop</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Rock')}}">Rock</a>
                        <a class="dropdown-item" href="{{url_for('items.show', id='Techno')}}">Techno</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items/mostpopular">Most Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sell">Sell</a>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0">
                <a class="backgr-default icon-default" href="#" id="cart-nav-link"></a>
                <a class="backgr-default icon-default" href="watchlist" id="watchlist-nav-link"></a>
                <a class="backgr-default icon-default" data-toggle="modal" data-target="#staticBackdrop"
                    id="profile-nav-link"></a>

                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Account Options</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% if current_user.is_authenticated %}
                            Logged in as {{ current_user.name }}!
                            {% else %}
                            You Are Not Currently Logged In Select An Option
                            {% endif %}


                            <a class="btn btn-primary btn-block" href="register" role="button">New User</a>
                            <a class="btn btn-primary btn-block" href='login' role="button">Login</a>
                            <a class="btn btn-primary btn-block" href='logout' role="button">Logout</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="footer col-12 justify-content-center vertical-center text-center">
        <footer>
            <div>
                <p>Icons made by
                    <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a>,
                    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>,
                    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and
                    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>
                    from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </p>
                <p>Website created for a QUT project.</p>
            </div>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>