{% extends 'base.html' %}

{% block content %}

<!-- Landing page hero image section -->

<div class="jumbotron landing-hero backgr-default vertical-center col-12">
    <div class="row h-75 hero-title">
        <h1 class="display-1 text-center col-12">P<img src="../static/images/vinyl.svg" width="50px" alt="o"></span>ly
        </h1>
    </div>
    <div class="row">
        <form class="form-inline col-12 justify-content-center" action="{{url_for('main.search')}}">
            <div class="hero-search col-lg-4 col-sm-10">
                <input class="col-10 text-center search-input" type="search" placeholder="Search Vinyl ..."
                    aria-label="Search" name="search" />
                <button class="col-2 search-btn" type="submit"><img src="../static/images/search.svg" width="20px"
                        alt="Search"></button>
            </div>
        </form>
    </div>
</div>


<!-- Recently Added Records Section -->

<h2 class="col-12 def-padding">Recently Added Items</h2>
<div class="justify-content-around feat-row top-btm-padding d-flex flex-wrap">
    {% for item in recentitems %}
    <div class="lg-margin col-lg-3 col-md-5 col-sm-10">
        <div class="card  featured">
            <a href="item/{{item.id}}"><img class="card-img-top" src="{{item.image}}" alt="Card Image"></a>
            <div class="card-body">
                <h5 class="card-title">{{item.artist}}</h5>
                <h6 class="card-title">{{item.name}}</h6>
                <p class="card-text">{{item.description}}</p>
                <div class="space-between">
                    <p class="card-text">Bids: </p>
                    <p class="card-text">{{item.bid_number}}</p>
                </div>
                <div class="space-between">
                    <p class="card-text">Current Bid: </p>
                    <h5 class="card-text">${{item.current_value}}</h5>
                </div>
                <div class="space-between">
                    <p class="card-text">Status: </p>
                    <h6 class="card-text">{{item.status}}</h6>
                </div>
                <div class="space-between">
                    <a href="item/{{item.id}}" class="btn btn-dark">More</a>
                    <a href="watchlist"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Popular Records Section-->

<h2 class="col-12 def-padding">Most Popular</h2>
<div class="justify-content-around feat-row top-btm-padding d-flex flex-wrap">
    {% for item in popularitems %}
    <div class="lg-margin col-lg-3 col-md-5 col-sm-10">
        <div class="card  featured">
            <a href="item/{{item.id}}"><img class="card-img-top" src="{{item.image}}" alt="Card Image"></a>
            <div class="card-body">
                <h5 class="card-title">{{item.artist}}</h5>
                <h6 class="card-title">{{item.name}}</h6>
                <p class="card-text">{{item.description}}</p>
                <div class="space-between">
                    <p class="card-text">Bids: </p>
                    <p class="card-text">{{item.bid_number}}</p>
                </div>
                <div class="space-between">
                    <p class="card-text">Current Bid: </p>
                    <h5 class="card-text">${{item.current_value}}</h5>
                </div>
                <div class="space-between">
                    <p class="card-text">Status: </p>
                    <h6 class="card-text">{{item.status}}</h6>
                </div>
                <div class="space-between">
                    <a href="item/{{item.id}}" class="btn btn-dark">More</a>
                    <a href="watchlist"><i class="far fa-heart"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Popular Genres Section -->

<div class="bg-light top-btm-padding col-12 ">
    <h2 class="col-12 def-padding">Popular Genres</h2>
    <div class="row d-flex justify-content-around text-center text-white">
        <div class="col-lg-3 col-md-5 col-sm-11 col-xs-11 d-flex justify-content-around">
            <a href="{{url_for('items.show', id='EDM')}}" class=" text-white jumbotron edm-bg col-11 backgr-cover ">
                <h4>EDM</h4>
            </a>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-11 col-xs-11 d-flex justify-content-around">
            <a href="{{url_for('items.show', id='Hip Hop')}}"
                class="jumbotron hip-hop-bg col-11 backgr-cover text-white">
                <h4>Hip Hop</h4>
            </a>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-11 col-xs-11 d-flex justify-content-around">
            <a href="{{url_for('items.show', id='Rock')}}" class="jumbotron rock-bg col-11 backgr-cover text-white">
                <h4>Rock</h4>
            </a>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-11 col-xs-11 d-flex justify-content-around">
            <a href="{{url_for('items.show', id='Blues')}}" class="jumbotron jazz-bg backgr-cover col-11 text-white">
                <h4>Jazz</h4>
            </a>
        </div>
    </div>
</div>


<!-- All Genres Section -->

<h2 class="col-12 def-padding">All Genres</h2>
<div class="col-10 offset-1">
    <div class="justify-content-around feat-row top-btm-padding d-flex flex-wrap">
        {% for item in items %}
        <div class=" col-lg-3 col-md-5 col-sm-10  top-btm-padding">
            <div class="col-11 card featured">
                <a href="item/{{item.id}}"><img class="card-img-top" src="{{item.image}}" alt="Card Image"></a>
                <div class="card-body">
                    <h5 class="card-title">{{item.artist}}</h5>
                    <h6 class="card-title">{{item.name}}</h6>
                    <div class="space-between">
                        <p class="card-text">Bids: </p>
                        <p class="card-text">{{item.bid_number}}</p>
                    </div>
                    <div class="space-between">
                        <p class="card-text">Current Bid: </p>
                        <h5 class="card-text">${{item.current_value}}</h5>
                    </div>
                    <div class="space-between">
                        <p class="card-text">Status: </p>
                        <h6 class="card-text">{{item.status}}</h6>
                    </div>
                    <div class="space-between">
                        <a href="item_details" class="btn btn-dark">More</a>
                        <a href="watchlist"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}