{% extends 'base.html' %}

{% block content %}
<div class="row def-padding space-between">
    <div class="col-lg-6 col-xs-12 top-btm-padding">
        <img class="img-fluid" src="../static/images/record1.jpg" alt="Record Image">
    </div>
    <div class="col-lg-5 col-xs-12 col-sm-12 col-md-12">
        <h2 class="top-btm-padding">Best of The Dummies </h2>
        <h3>The Dummies</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Type of Record: </p>
            <p>12 inch</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Year: </p>
            <p>1984</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Bids: </p>
            <p>22</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Starting Bid: </p>
            <p>$30</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12 font-weight-bold">
            <p>Current Bid: </p>
            <p>$89</p>
        </div>
    </div>
</div>

<div class="col-12 justify-center space-between">
    <a class="backgr-default icon-default" href="watchlist" id="watchlist-nav-link"></a>
    <button type="button" class="btn btn-dark col-lg-2 col-md-2 col-sm-10 col-xs-10" data-toggle="modal"
        data-target="#bidModal">BID</a>
</div>

<div class="modal fade" id="bidModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="placeBid">PLACE BID</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="amount">Enter Bid Amount:</label>
                    <input type="text" class="form-control" id="amount">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="placeBid">Write a Comment</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="amount">What did you think?</label>
                    <textarea class="form-control sm-margin " id="fname"></textarea>
                    <div class="col-12 d-flex lg-margin">
                        <div class="stars star-outline hover-fill"></div>
                        <div class="stars star-outline hover-fill"></div>
                        <div class="stars star-outline hover-fill"></div>
                        <div class="stars star-outline hover-fill"></div>
                        <div class="stars star-outline hover-fill"></div>
                    </div>
                    <button type="button" class="btn btn-dark lg-margin ">Login</button>
                    <p class="lg-margin top-btm-padding">OR</p>
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control sm-margin" id="fname">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control sm-margin" id="lname">
                    <label for="date">Date Purchased</label>
                    <input type="date" class="form-control sm-margin" id="date">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>


<div class="col-12  def-padding ">
    <h3 class="col-12">Comments</h3>
    <a href="item_details" data-toggle="modal" data-target="#reviewModal"
        class="btn btn-light btn-outline-secondary col-lg-2 col-md-2 col-sm-10 col-xs-10">Write Comment</a>
    <div class="col-12  btm-border top-btm-padding">
        <div class="row">
            <h5 class="col-lg-12 col-sm-12 col-xs-12 ">John Smith</h5>
            <p class="col-lg- col-sm-12 col-xs-12 ">Posted 22/07/2020</p>
        </div>
        <div class="col-12 d-flex">
            <div class="stars star-filled "></div>
            <div class="stars star-filled"></div>
            <div class="stars star-filled"></div>
            <div class="stars star-outline"></div>
            <div class="stars star-outline"></div>
        </div>
        <p class="col-12 top-btm-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-12  btm-border top-btm-padding">
        <div class="row">
            <h5 class="col-lg-12 col-sm-12 col-xs-12 ">Lily Tonkins</h5>
            <p class="col-lg- col-sm-12 col-xs-12 ">Posted 04/07/2020</p>
        </div>
        <div class="col-12 d-flex">
            <div class="stars star-filled "></div>
            <div class="stars star-filled"></div>
            <div class="stars star-filled"></div>
            <div class="stars star-filled"></div>
            <div class="stars star-filled"></div>
        </div>
        <p class="col-12 top-btm-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-12  btm-border top-btm-padding">
        <div class="row">
            <h5 class="col-lg-12 col-sm-12 col-xs-12 ">David Webb</h5>
            <p class="col-lg- col-sm-12 col-xs-12 ">Posted 29/05/2020</p>
        </div>
        <div class="col-12 d-flex">
            <div class="stars star-filled "></div>
            <div class="stars star-filled"></div>
            <div class="stars star-filled"></div>
            <div class="stars star-filled"></div>
            <div class="stars star-outline"></div>
        </div>
        <p class="col-12 top-btm-padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
{% endblock %}