{% extends 'created_item_details.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>

<div class="row def-padding space-between">
    <div class="col-lg-6 col-xs-12 top-btm-padding">
        <img class="img-fluid" src={{details.image}} alt="Record Image">
    </div>
    <div class="col-lg-5 col-xs-12 col-sm-12 col-md-12">
        <h2 class="top-btm-padding">{{details.name}}</h2>
        <h3>{{details.artist}}</h3>
        <p class="card-text">{{details.description}}</p>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Type of Record: </p>
            <p>{{details.designation}}</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Year: </p>
            <p>{{details.year}}</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Bids: </p>
            <p>{{details.bid_number}}</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12">
            <p>Starting Bid: </p>
            <p>${{details.starting_value}}</p>
        </div>
        <div class="space-between col-lg-9 col-md-10 col-sm-12 font-weight-bold">
            <p>Current Bid: </p>
            <p>${{details.bid_number}}</p>
        </div>
    </div>
</div>

<div class="col-12 justify-center space-between">
    {{wtf.quick_form(form,
        "/item/{0}/bid".format(details.id))}}
</div>
{% endblock %}