{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="page-header">
    <h4>{{heading}}</h4>
</div>



<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>


<div class="bg-sell col-md-12 backgr-default">
    <div class="bg-light col-md-8 col-sm-12 offset-sm-0 offset-md-2">
        <div class="def-padding text-center">
            <h2>New Listing</h2>
            <p>For <i>{{user.name}}</i></p>
            <p>Need to Login? <a href="login">Click here to login</a>.</p>
        </div>
        <div class="col-8 text-center offset-2">
            {{wtf.quick_form(form, button_map={'submit':'dark'})}}
        </div>

    </div>
</div>

<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% else %}
<div class="col-md-4">
    <p>Need to Login? <a href="login">Click here to login</a>.</p>
</div>
{% endif %}

{% endblock %}