{% extends 'base.html' %}

{% block content %}
<div class="col-md-12 backgr-default bg-repeat bg-watchlist">
    <div class="bg-light col-md-8 col-sm-12 offset-sm-0 offset-md-2">
        <div class="def-padding text-center row">
            <h2>Your Watchlist</h2>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btm-border col-10"></div>
        </div>
        <div class="col-12 d-lg-flex justify-content-around def-padding">
            <a href="item_details" class="col-5 h-100"><img src="../static/images/record2.jpg"
                    class="img-fluid col-12"></a>
            <div class="d-flex justify-content-around align-items-center col-lg-6 col-sm-12">
                <div class="col-12">
                    <a href="item_details" class="text-dark">
                        <h5>Best of the Dummies </h5>
                    </a>
                    <h6>The Dummies</h6>
                    <div class="d-lg-flex justify-content-between">
                        <p>Date Added: </p>
                        <p>19/08/2020</p>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Status: </p>
                        <p>AVAILABLE</p>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Bids: </p>
                        <h5>44</h5>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Current Bid: </p>
                        <h5>$96</h5>
                    </div>
                    <div class="space-between">
                        <a href="#" class="btn btn-dark">Remove</a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btm-border col-10"></div>
        </div>
        <div class="col-12 d-lg-flex justify-content-around def-padding">
            <a href="item_details" class="col-5 h-100"><img src="../static/images/record3.jpeg"
                    class="img-fluid col-12"></a>
            <div class="d-flex justify-content-around align-items-center col-lg-6 col-sm-12">
                <div class="col-12">
                    <a href="item_details" class="text-dark">
                        <h5>Best of the Dummies </h5>
                    </a>
                    <h6>The Dummies</h6>
                    <div class="d-lg-flex justify-content-between">
                        <p>Date Added: </p>
                        <p>11/08/2020</p>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Status: </p>
                        <p>SOLD</p>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Bids: </p>
                        <h5>38</h5>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Closing Bid: </p>
                        <h5 class="font-weight-bold">$98</h5>
                    </div>
                    <div class="space-between">
                        <a href="#" class="btn btn-dark">Remove</a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="btm-border col-10"></div>
        </div>
        <div class="col-12 d-lg-flex justify-content-around def-padding">
            <a href="item_details" class="col-5 h-100"><img src="../static/images/record4.jpg"
                    class="img-fluid col-12"></a>
            <div class="d-flex justify-content-around align-items-center col-lg-6 col-sm-12">
                <div class="col-12">
                    <a href="item_details" class="text-dark">
                        <h5>Best of the Dummies </h5>
                    </a>
                    <h6>The Dummies</h6>
                    <div class="d-lg-flex justify-content-between">
                        <p>Date Added: </p>
                        <p>29/07/2020</p>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Status: </p>
                        <p>AVAILABLE</p>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Bids: </p>
                        <h5>37</h5>
                    </div>
                    <div class="d-lg-flex justify-content-between">
                        <p>Current Bid: </p>
                        <h5 class="font-weight-bold">$55</h5>
                    </div>
                    <div class="space-between">
                        <a href="#" class="btn btn-dark">Remove</a>
                        <a href="#"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}